/* Inicio estilos Main Contacto*/
.main-contac{
    background-image: url(../Img/Banner.webp) ;
    height: 90vh;
    h2{
        display: flex;
        justify-content: right;
        margin-right: 400px;
        margin-top: 100px;
        @extend .color-fondo;
    }
    .contenedor{
        display: flex;
        .mapa{
            margin-left: 90px;
            border-radius: 30px;
        }
        .redes {
            display: flex;
            justify-content: right;
            margin-right: 275px;
            flex: 2;
            .red{
                display: flex;
                margin: 40px;
                height: 45px;
                &:hover{
                    transform: scale(1.1);
                    transition: 1s;
                }
            }
            
        }  
    }
}

@media (max-width: 768px) {
    .main-contac {
        background-image: none; 
        height: auto; 
        h2 {
            text-align: center !important; 
            margin:0 auto;
        }
        .contenedor {
            flex-direction: column; 
            align-items: center; 
            .mapa {
                margin: 20px 0; 
                border-radius: 10px; 
                width: 100%; 
                height: 300px; 
            }
            .redes {
                justify-content: center; 
                margin: 20px 0; 
                .red {
                    margin: 10px; 
                    height: 30px; 
                    &:hover {
                        transform: scale(1.1);
                        transition: 1s;
                    }
                }
            }
        }
    }
}
/* Fin estilos Main Contacto*/