/* Inicio estilos Main Nuestro Menu*/
.main-nm {
    h2 {
       font-size: 24px;
       text-align: center;
       margin-top: 10px;
      /* Otros estilos para el encabezado */
    }
  
    .carrusel {
      display: flex;
      overflow-x: auto;
      gap: 55px;
      padding: 100px;
  
      .elemento {
        img {
          max-width: 100%;
          height: auto;
        }
        p{
            font-style: oblique;
        }
    }
    }
  
@media (max-width: 768px) {
      .carrusel {
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
  
        .elemento {
          width: 100%;
          margin-bottom: 10px;
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
/* Fin estilos Main Nuestro Menu*/