/* Inicios estilos Main Sobre nosotros*/
.main-sec {
    background-image: url(../Img/Logo.png);
    height: 82vh;
    margin-top: 35px;
    margin-bottom: 30px;
    .tit2 {
        text-align: center !important;
        margin-top: 10px !important;
    }
    div {
        display: inline-flex;
        margin: 20px;
        .text {
            color: $color-principal;
            font-size: 25px;
            margin-top: 10px;
            margin-right: 40px;
            margin-left: 25px;
        }
        .barista {
            border-radius: 5%;
            height: 500px;
            width: 600px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

/* Inicio estilos responsive Sobre nosotros */
@media (max-width: 768px) {
    .main-sec {
        background-image: none; 
        height: auto; 
        margin-top: 20px; 
        margin-bottom: 20px; 
    }

    .main-sec .tit2 {
        text-align: center !important;
        margin-top: 10px !important;
    }

    .main-sec div {
        display: block; 
        margin: 10px; 
        .text {
            color: $color-principal;
            font-size: 20px; 
            margin-top: 10px;
            margin-right: 0;
            margin-left: 0;
        }

        .barista {
            border-radius: 5%;
            width: 100%; 
            height: auto; 
            margin: 20px auto; 
        }
    }
}
/* Fin estilos responsive Sobre nosotros */
/* Fin estilos Main Sobre nosotros*/