/* Inicio estilos Header */
header{
    background-color: $color-principal;
    width: 100%;
    height: 10vh;
    a{
        @extend .color-fondo;
        text-decoration: none;
        font-style: italic;
        img{
            height: 50px;
            margin-right: 5px;
            margin-top: 5px;
            margin-left: 10px;
        }
        .tit{
            margin-top: 15px !important;
            font-size: 25px !important;
            font-family: 'Lobster Two', cursive;
            @extend .color-fondo;
        }
    }
    .contnav{

        .containerli{
            list-style: none;
            list-style-type: none;
            text-align: center;
            margin-right: 10px;
            margin-top: 15px;
            li{
                display: inline-block;
                margin-left: 18px;
                font-weight: 600;
                font-size: 17px;
                @extend .color-fondo;
                margin-right: 10px;
                .nav-link {
                display: inline;
                @extend .color-fondo;
                text-decoration: none;
                font-size: 20px;
                font-family: 'Jaldi', sans-serif;
                }
            }
        }
    }
}

ul, li, .logo, header div,
header nav{
    display: inline-flex;
}

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    @extend .color-fondo;
}

.menu-icon, #check{
    display: none;
}

.containerli li:hover{
    color: bisque ; 
    transition: .3s ;
}

/* Inicio estilos responsive Header */
@media (max-width: 768px) {
    header{
        width: 100%;
        height: 85px;
    }
    
    .imglogo{
        text-align: center;
    }
    
    .checkbtn {
        display: block !important;
        width: 100% !important;
        text-align: right !important;
        
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .contnav {
        display: block; 
        text-align: center; 
    }

    .contnav ul{    
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background-color: #472C1B;
        width: 100%;
        height: 100vh;
        right: 0;
    }

    .contnav ul li:last-child{
        background: none;
        padding: 1rem;
    }

    .containerli {
        padding: 0;
    }

    .containerli li {
        margin: 0;
        padding: 1rem;
        border-top: 1px solid #fff;

    }

    #check:checked ~ .containerli{
        display: flex;
        text-align: right;
        flex-direction: column;
        top: 70px;
        left: 0;
        background-color: #472C1B;
        width: 100%;
        height: 100vh;
        right: 0;
    }
}

@media screen and (max-width: 600px) {
    .containerli {
        display: block;
        width: 100%;
    }
    .navbar{
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
}
/* Fin estilos responsive Header */
/* Fin estilos Header */